parameters:
    level: 8
    paths:
        - packages/core/src
        - packages/influxdb2-driver/src
        - packages/laravel-bridge/src
        - packages/rrd-driver/src
        - packages/web/app
        - packages/web/config
        - packages/web/database

