parameters:
	level: 10
	paths:
		- src
		- tests
	excludePaths:
		- tests/*/data/*
		- vendor/*
	reportUnmatchedIgnoredErrors: false
	treatPhpDocTypesAsCertain: true
	ignoreErrors:
		- '#PHPDoc tag @var with type array<.+> is not subtype of native type array.#'
