parameters:
	level: 10
	paths:
		- src
		- tests
	excludePaths:
		- tests/*/data/*
		- vendor/*
	reportUnmatchedIgnoredErrors: false
	treatPhpDocTypesAsCertain: true
	ignoreErrors:
		- '#Call to method PHPUnit\\Framework\\Assert::assert(.*) with (.*) will always evaluate to true.#'
		- '#Call to an undefined method TimeSeriesPhp\\Contracts\\Driver\\TimeSeriesInterface::expects\(\).#'
		- '#Cannot call method method\(\) on mixed.#'
		- '#Cannot call method willReturn\(\) on mixed.#'
		- '#Cannot call method with\(\) on mixed.#'

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
