# This file is the entry point to configure your own services.
# Files in the packages/ directory configure your dependencies.

imports:
    # Import driver configs in the mono-repo
    - { resource: '../src/Drivers/*/config/*.yaml' }

parameters:
    # Default driver to use when none is specified
    default_driver: 'influxdb'

framework:
    cache:
        app: cache.adapter.null

services:
    # Default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: false       # Allows optimizing the container by removing unused services

    # Makes classes in src/ available to be used as services
    # This creates a service per class whose id is the fully-qualified class name
    TimeSeriesPhp\:
        resource: '../src/'
        exclude:
            - '../src/Contracts/'
            - '../src/Core/Attributes/'
            - '../src/Exceptions/TSDBException.php'

    # Register the configuration manager as a service
    TimeSeriesPhp\Services\ConfigurationManager:
        arguments:
            $configDir: '%kernel.project_dir%/config'
        public: true

    # Register the logger service
    Psr\Log\LoggerInterface:
        class: TimeSeriesPhp\Services\Logger
        arguments:
            $config: '%logging%'
        public: true

    Psr\SimpleCache\CacheInterface:
        factory: ['Symfony\Component\Cache\Psr16Cache', 'create']
        arguments:
            - '@cache.app'

    # Add more service definitions when explicit configuration is needed
    # Please note that last definitions always *replace* previous ones

    # Register the driver factory
    TimeSeriesPhp\Core\Driver\DriverFactory:
        public: true

    Symfony\Component\DependencyInjection\ContainerInterface: '@service_container'
    Namespace\ImportService:
        arguments:
            - '@service_container'

    Psr\Http\Client\ClientInterface:
        class: Http\Adapter\Guzzle7\Client
        arguments: ['@http_client']

    Psr\Http\Message\RequestFactoryInterface:
        class: Nyholm\Psr7\Factory\Psr17Factory

    Psr\Http\Message\UriFactoryInterface:
        class: Nyholm\Psr7\Factory\Psr17Factory

    http_client:
        class: GuzzleHttp\Client

    cache.adapter.null:
        class: TimeSeriesPhp\Services\NullCacheAdapter
        arguments: [~] # small trick to avoid arguments errors on compile-time.