# This file is the entry point to configure your own services.
# Files in the packages/ directory configure your dependencies.

parameters:
    # Add your parameters here

services:
    # Default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: false       # Allows optimizing the container by removing unused services

    # Makes classes in src/ available to be used as services
    # This creates a service per class whose id is the fully-qualified class name
    TimeSeriesPhp\:
        resource: '../src/'
        exclude:
            - '../src/Contracts/'
            - '../src/Core/Attributes/'
            - '../src/Exceptions/TSDBException.php'

    # Register the configuration manager as a service
    TimeSeriesPhp\Services\ConfigurationManager:
        arguments:
            $configDir: '%kernel.project_dir%/config'
        public: true

    # Register the logger service
    Psr\Log\LoggerInterface:
        class: TimeSeriesPhp\Services\Logger
        arguments:
            $config: '%logging%'
        public: true

    # Register the cache service
    Psr\SimpleCache\CacheInterface:
        class: TimeSeriesPhp\Services\Cache
        arguments:
            $config: '%cache%'
        public: true

    # Add more service definitions when explicit configuration is needed
    # Please note that last definitions always *replace* previous ones
